header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  display: flex;
  justify-content: space-between;
}

header>* {
  flex-grow: 1;
}

header .left>nav {
  display: flex;
  justify-content: flex-start;
}

header .left>nav>* {
  margin: .8rem;
}

header .right>nav {
  display: flex;
  justify-content: flex-end;
}

header .right>nav>* {
  margin: .8rem;
}

main {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}